-- RLS to allow anon users to see companies
DROP POLICY IF EXISTS "Anyone can view active and visible companies" ON public.companies;
CREATE POLICY "Anyone can view active and visible companies" ON public.companies
FOR SELECT
USING (
  (is_active = true AND show_in_marketplace = true)
  OR (auth.uid() = user_id)
  OR (
    CASE 
      WHEN auth.role() = 'authenticated' THEN public.has_role(auth.uid(), 'admin'::public.app_role)
      ELSE false
    END
  )
);

-- Force enable RLS
ALTER TABLE public.companies ENABLE ROW LEVEL SECURITY;

-- Ensure public can select
GRANT SELECT ON public.companies TO anon;
GRANT SELECT ON public.companies TO authenticated;
GRANT SELECT ON public.companies TO service_role;
